
<h1>Hola {{title.toUpperCase()}} {{3+2}}</h1>

@defer{
    <app-pureba-component 
    (addLenguajeFavorito) = "obtenerLenguajeFavorito($event)"
    usuarioPadre="{{usuarioPadre}}">
    </app-pureba-component>
}@placeholder {
    <h1>Componente de app prueba</h1>
}@loading (minimum 1s){
    <h1>Cargando...</h1>
}


@if(lenguajeFavorito !== ''){
    <h1>tu lenguaje favorito es {{lenguajeFavorito}}</h1>
}

<h1><a routerLink="/blog"> ir a la ruta blog</a></h1>
<h1><a routerLink="/"> ir a la ruta principal</a></h1>

<h1>{{holamundo}}</h1>

<h1>Lista de paises</h1>



<router-outlet></router-outlet>
